@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
	margin: 0;
	box-sizing: border-box;
}

html {
	-webkit-overflow-scrolling: touch;
	color: white;
	font-family: "Poppins", sans-serif;
	/* font-family: Arial, Helvetica, sans-serif; */
}

body {
	overflow-x: hidden;
	overflow-y: scroll;
}

.no-scroll {
	overflow: hidden;
}

.background {
	background-color: black;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	max-width: 100%;
	z-index: -1;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

header {
	position: absolute;
	z-index: 1;
	padding: 0 20px;
	background: rgba(0, 0, 0, 0.75);
	height: 50px;
	width: 100vw;
	display: flex;
	justify-content: space-between;
}

header a {
	text-decoration: none;
}

#brand {
	font-weight: bold;
	font-size: 18px;
	display: flex;
	align-items: center;
	color: crimson;
	padding-left: 25px;
}

header ul {
	list-style: none;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

header ul a {
	color: white;
}

header ul li {
	padding: 5px;
	margin-left: 10px;
}

header ul li:hover {
	transform: scale(1.05);
	transition: 0.3s;
	color: lightsalmon;
}

#hamburger-icon {
	margin: auto 0;
	color: white;
	display: none;
	cursor: pointer;
}

#hamburger-icon div {
	width: 35px;
	height: 3px;
	background-color: white;
	margin: 6px 0;
	transition: 0.4s;
}

.open .bar1 {
	-webkit-transform: rotate(-45deg) translate(-6px, 6px);
	transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
	opacity: 0;
}

.open .bar3 {
	-webkit-transform: rotate(45deg) translate(-6px, -8px);
	transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.mobile-menu {
	display: none;
	position: absolute;
	top: 50px;
	left: 0;
	height: calc(100vh - 50px);
	width: 100%;
}

.mobile-menu li {
	margin-bottom: 10px;
}

@media only screen and (max-width: 800px) {
	header nav {
		display: none;
	}
	#hamburger-icon {
		display: block;
	}
}

.home-container {
	height: 100%;
	z-index: -1;
}

.home-container img {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	margin: auto;
	object-fit: cover;
	background-position: center;
	-webkit-animation-name: fade;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-duration: 35s;
	animation-name: fade;
	animation-iteration-count: infinite;
	animation-duration: 35s;
}

@-webkit-keyframes fade {
	0% {
		opacity: 0;
	}
	12% {
		opacity: 1;
	}
	33% {
		opacity: 1;
	}
	53% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes fade {
	0% {
		opacity: 0;
	}
	12% {
		opacity: 1;
	}
	33% {
		opacity: 1;
	}
	53% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

#b2 {
	opacity: 0;
	-webkit-animation-delay: 8s;
	animation-delay: 8s;
}

#b3 {
	opacity: 0;
	-webkit-animation-delay: 16s;
	animation-delay: 16s;
}

#b4 {
	opacity: 0;
	-webkit-animation-delay: 24s;
	animation-delay: 24s;
}

#carousel {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
}

#carousel img {
	max-height: 80vh;
	max-width: 80vw;
	display: block;
	margin: auto;
}

.carousel-content {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.close {
	color: white;
	position: absolute;
	top: 10px;
	right: 25px;
	font-size: 35px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: lightsalmon;
	text-decoration: none;
	cursor: pointer;
}

.cursor {
	cursor: pointer;
}

.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin: 3vw;
	margin-top: -50px;
	color: white;
	font-weight: bold;
	font-size: 2em;
	transition: 0.1s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
}

.prev:hover,
.next:hover {
	/* opacity: 0.8; */
	color: lightsalmon;
}

.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

.drop-shadow {
	color: white;
	padding: 0.9em 0.9em;
	text-shadow: 1px 1px 0 #000;
	background: none;
	border: none;
	font-family: "Rubik";
	font-size: 10px;
	text-decoration: none;
}

.outline-text {
	font: arial, sans-serif;
	text-shadow: -0.5px -0.5px 1px #000, 0.5px -0.5px 1px #000,
		-0.5px 0.5px 1px #000, 0.5px 0.5px 1px #000;
	color: white;
	background-color: rgba(0, 0, 0, 0);
	border: none;
	outline: none;
	text-decoration: none;
}

.text {
	color: white;
	padding: 0.9em 0.9em;
	background: none;
	border: none;
	font-family: "Rubik";
	font-size: 1.2em;
	text-decoration: none;
}

.medium-text:hover {
	opacity: 0.5;
}

.large-text {
	font-size: 2em;
}

#gallery {
	position: relative;
	top: 101vh;
	width: 67%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
}
.column {
	padding: 0 4px;
	flex: 30%;
	max-width: 33.3%;
}

.preview-image {
	width: 100%;
	-khtml-user-select: none;
	-o-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

@media (hover: hover) {
	.preview-image:hover {
		opacity: 0.8;
		cursor: pointer;
	}
}

.column img {
	margin-top: 10px;
	vertical-align: middle;
}

@media screen and (max-width: 800px) {
	.column {
		flex: 50%;
		max-width: 50%;
	}

	#gallery {
		width: 100%;
	}
}

@media screen and (max-width: 600px) {
	.column {
		flex: 100%;
		max-width: 100%;
	}

	#gallery {
		width: 100%;
		padding: 10px 0 10px 0;
	}
}

.divider {
	position: relative;
	top: 101vh;
	background-size: cover;
	min-height: 300px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
}

@media screen and (max-width: 800px) {
	.divider {
		background-attachment: scroll;
	}
}

#divider-1 {
	background-image: url("photos/dividers/divider-1.jpg");
}

#divider-2 {
	background-image: url("photos/dividers/divider-2.jpg");
	top: 102vh;
}

#about {
	position: relative;
	top: 102vh;
	border-radius: 5px;
	padding: 10px;
	width: 50vw;
	/* height: 20vh; */
	margin: auto;
}

#about img {
	max-width: 18vw;
	height: 100%;
}

#about h1 {
	color: lightsalmon;
	text-align: center;
}

.about-column {
	float: left;
	width: 50%;
	margin-top: 6px;
	padding: 20px;
}

.about-row {
	background: rgba(0, 46, 40, 0.55);
	border-radius: 10px;
}

.about-row:after {
	content: "";
	display: table;
	clear: both;
}

@media screen and (max-width: 800px) {
	#about {
		width: 90vw;
	}
	#about img {
		max-width: 33vw;
	}
	#about h1 {
		font-size: 1.3em;
	}
	#about p {
		font-size: 0.8em;
	}
	.about-column {
		padding: 10px;
	}
}

footer {
	position: relative;
	top: 102vh;
	width: 100%;
	height: 3rem;
	white-space: nowrap;
	margin: 0px auto;
	text-align: center;
	font-size: 0.8em;
}

footer ul {
	padding: 4px;
	list-style-type: none;
	text-align: center;
	overflow: hidden;
	background-color: #333333;
}

footer li {
	display: inline;
}

button {
	cursor: pointer;
}
